# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

pool:
  vmImage: 'windows-latest'

variables:
  solutionFolder: '$(Build.SourcesDirectory)/NavfertyExcelAddIn'
  solution: '$(Build.SourcesDirectory)/NavfertyExcelAddIn.slnx'
  project: '$(Build.SourcesDirectory)/NavfertyExcelAddIn/NavfertyExcelAddIn.csproj'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  # patchVersion: counter with the prefix as minorVersion, and seed as 0.
  patchVersion: $[counter(variables['minorVersion'], 0)]
  buildId: '$(Build.BuildId)'

steps:
- checkout: self
  persistCredentials: true

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: PowerShell@2
  name: 'ImportCertificate'
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Import Certificate"
      $pfxpath = '$(solutionFolder)/$(certfile)'
      Add-Type -AssemblyName System.Security
      $cert = New-Object System.Security.Cryptography.X509Certificates.X509Certificate2
      $cert.Import($pfxpath, '$(password)', [System.Security.Cryptography.X509Certificates.X509KeyStorageFlags]"PersistKeySet")
      $store = new-object system.security.cryptography.X509Certificates.X509Store -argumentlist "MY", CurrentUser
      $store.Open([System.Security.Cryptography.X509Certificates.OpenFlags]"ReadWrite")
      $store.Add($cert)
      $store.Close()

# Build the entire solution
- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    vsVersion: 'latest'
    msbuildArchitecture: 'x64'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    msbuildArgs: '$(msbuildArgs) /p:Version="$(majorVersion).$(minorVersion).$(patchVersion).$(buildId)"'

# Publish the specific VSTO project using MSBuild task
- task: MSBuild@1
  inputs:
    solution: '$(project)'
    msbuildArchitecture: 'x64'
    msbuildArguments: '/t:Publish /p:Version="$(majorVersion).$(minorVersion).$(patchVersion).$(buildId)" /p:PublishDir="$(Build.ArtifactStagingDirectory)/" /p:VisualStudioVersion="17.0" /p:Platform="AnyCPU" /p:Configuration="$(buildConfiguration)" /p:MapFileExtensions=true /p:Install=true /p:InstallUrl="https://www.navferty.ru/deploy/"'

# Diagnose what was published
- task: PowerShell@2
  name: 'DiagnosePublishOutput'
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Contents of Artifact Staging Directory:"
      Get-ChildItem -Path "$(Build.ArtifactStagingDirectory)" -Recurse | Format-Table FullName, Length
      
      Write-Host "`nSearching for publish output in bin folder:"
      Get-ChildItem -Path "$(solutionFolder)/bin" -Recurse -Include "*.vsto","*.manifest","*.deploy" -ErrorAction SilentlyContinue | Format-Table FullName, Length

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'InstallationFiles'
    publishLocation: 'Container'

# Upload navferty.ru website contents
- task: FtpUpload@2
  name: 'UploadWebsite'
  inputs:
    credentialsOption: 'inputs'
    serverUrl: 'ftps://ftp.navferty.ru'
    username: '$(ftpUsername)'
    password: '$(ftpPassword)'
    rootDirectory: '$(Build.SourcesDirectory)/Website/'
    filePatterns: '**'
    remoteDirectory: '/' # navferty.ru/website
    clean: false
    cleanContents: true
    preservePaths: true
    trustSSL: true

# Upload build artifacts with (all files except setup.exe)
- task: FtpUpload@2
  name: 'UploadInstallationFiles'
  inputs:
    credentialsOption: 'inputs'
    serverUrl: 'ftps://ftp.navferty.ru'
    username: '$(ftpUsername)'
    password: '$(ftpPassword)'
    rootDirectory: '$(Build.ArtifactStagingDirectory)'
    filePatterns: |
      **/*.deploy
      **/*.manifest
      **/*.vsto
    remoteDirectory: '/deploy/' # navferty.ru/deploy
    clean: false
    cleanContents: true
    preservePaths: true
    trustSSL: true

# Create and push git tag after successful publishing
- task: PowerShell@2
  name: 'CreateGitTag'
  inputs:
    targetType: 'inline'
    script: |
      $tagName = "v$(majorVersion).$(minorVersion).$(patchVersion).$(buildId)"
      Write-Host "Creating git tag $tagName"
      
      git config user.email "azuredevops@navferty.ru"
      git config user.name "Azure DevOps"
      
      # Check if tag already exists
      $existingTag = git tag -l $tagName
      if ($existingTag) {
        Write-Host "Tag $tagName already exists, skipping creation"
        exit 0
      }
      
      git tag -a $tagName -m "Release version $(majorVersion).$(minorVersion).$(patchVersion).$(buildId)"
      git push origin $tagName
      
      if ($LASTEXITCODE -eq 0) {
        Write-Host "Successfully created and pushed tag $tagName"
      } else {
        Write-Error "Failed to push tag $tagName"
        exit 1
      }
