body {
    margin: 0;
    background-color: rgb(243, 243, 243);
}

.top_nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(33, 115, 70);
    color: white;
    box-shadow: 0 0 0.5em 0 gray;
    z-index: 1;
}

.top_nav div {
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1.5em;
}

.top_nav :first-child {
    left: 0;
}

.top_nav :nth-child(n+2) {
    float: right;
}

.top_nav :nth-child(n+2):hover {
    background-color: rgb(14, 92, 47);
}

#container {
    position: relative;
    width: 80%;
    margin: 5em auto 2em auto;
    box-shadow: 0 0 0.5em 0 lightgray;
    min-height: 100%;
}

#left_nav {
    position: sticky;
    width: 20%;
    top: 3em;
    float: left;
    overflow-y: auto;
    height: calc(100vh - 7em);
    word-wrap: break-word;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #ddd;
}

#left_nav p {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
}

#left_nav p:first-child {
    font-size: 1.2em;
}

#left_nav a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

#left_nav a:hover {
    color: black;
}

#content {
    position: relative;
    display: inline-block;
    padding: 2em;
    width: calc(80% - 4em);
    /* background-color: rgb(243, 243, 243); */
    background-color: white;
}

#content img {
    max-width: 100%;
}

#content {
    overflow: hidden;
}

.zag:before {
    display: block;
    content: "";
    height: 3em;
    margin-top: -3em;
}

h3 {
    margin-top: 2em;
}

.icons {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    width: 64px;
}

.dscrptn {
    display: inline-block;
    max-width: calc(100% - (2em + 64px));
}

.dscrptn code {
    color: darkgoldenrod;
}

.more {
    display: inline-block;
    margin-top: 0;
    width: 100%;
}

ul.more {
    margin: 0;
    padding: 0 0 0 2em;
    width: calc(100% - 2em);    
}

.tbl {
    overflow-x: auto;
    width: 100%;
}

.footer {
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
}

@media (orientation: portrait) {
    #container {
        width: 100%;
    }
}