body {
    margin: 0;
    background-color: rgb(215, 215, 220);
}

#container {
    position: relative;
    width: 80%;
    margin: 5em 10% 0 10%;
    box-shadow: 0 0 1em 0 lightgray;
    min-height: 100%;
}

.top_nav {
    position: sticky;
    top: 0;
    background-color: rgb(3, 40, 85);
    color: white;
    z-index: 1;
}

.top_nav div {
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1.5em;
}

.top_nav :first-child {
    left: 0;
}

.top_nav :nth-child(n+2) {
    float: right;
}

.top_nav :nth-child(n+2):hover {
    background-color: white;
    color: rgb(3, 40, 85);
}

#left_nav {
    position: sticky;
    width: 20%;
    top: 3em;
    float: left;
    overflow-y: auto;
    height: calc(100vh - 7em);
    word-wrap: break-word;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: rgb(235, 235, 240);
}

#left_nav p {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
}

#left_nav p:first-child {
    font-size: 1.2em;
}

#left_nav a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

#left_nav a:hover {
    color: black;
}

#content {
    position: relative;
    display: inline-block;
    padding: 2em;
    width: calc(80% - 4em);
    background-color: white;
    overflow: hidden;
}

#content img {
    max-width: 100%;
}

.zag:before {
    display: block;
    content: "";
    height: 3em;
    margin-top: -3em;
}

h3 {
    margin-top: 2em;
}

.icons {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    width: 64px;
}

.dscrptn {
    display: inline-block;
    max-width: calc(100% - (2em + 64px));
}

.dscrptn code {
    color: darkgoldenrod;
}

.more {
    display: inline-block;
    margin-top: 0;
    width: 100%;
}

ul.more {
    margin: 0;
    padding: 0 0 0 2em;
    width: calc(100% - 2em);    
}

.tbl {
    overflow-x: auto;
    width: 100%;
}

.footer {
    position: relative;
    left: 10%;
    text-align: center;
    width: calc(80% - 1em);
    padding: 0.5em;
    background-color: rgb(3, 40, 85);
    color: white;
    float: inline-start;
    margin-bottom: 5em;
    z-index: 1;
}

@media (orientation: portrait) {
    #container {
        width: 100%;
        margin: 0;
    }

    .top_nav div{
        font-size: 1em;
    }

    #left_nav {
        top: 2em;
    }
    
    .footer {
        width: calc(100% - 1em);
        margin: 0;
        left: 0;
    }
}